.build-controls {
  background-image: linear-gradient(to right, #bc581e 7.5%, #e27b36);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0 2px 2px #cf8f2e;
  margin-inline: auto;
  padding: 1.25em;
}

.current-price {
  display: inline-block;
  background-color: var(--header-color);
  padding: 12px 16px;
}

.order-button {
  display: block;
  outline: 1px solid transparent;
  cursor: pointer;
  color: #966909;
  background-color: #dad735;
  border: 1px solid;
  font-size: 1.2em;
  padding: 15px 30px;
  margin-block: 1em;
  margin-inline-start: auto;
  transition:
    transform 0.25s ease-in-out,
    background-color 0.125s ease-in-out;
}

.order-button:not(:disabled):hover {
  background-color: #a0db41;
}
.order-button:not(:disabled):active {
  transform: scale(0.9375);
}

.order-button:disabled {
  color: #888888;
  background-color: #c7c6c6;
  cursor: not-allowed;
  border-color: #ccc;
  box-shadow: 0 0.375em 0.875em #00000022;
}

@media only screen and (max-width: 625px) {
  .build-controls {
    grid-template-columns: repeat(1, 1fr);
  }
}
