.build-controls {
  line-height: 0.875;
  width: 100%;
  background-color: #f57328;
  padding: calc(1.375 * var(--spacing)) var(--spacing);
}

.top-section {
  margin-inline: var(--spacing);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.current-price {
  line-height: 1;
  padding: 0.625em 0.875em;
  margin-block: calc(0.5 * var(--spacing)) calc(0.75 * var(--spacing));
  box-shadow: 0 8px 14px -6px #00000044;
}

.order-button {
  outline: 2px solid transparent;
  outline-offset: 2px;
  border: unset;
  background-color: unset;
  font-weight: 600;
  text-decoration: underline solid currentColor 2px;
  color: #966909;
  font-size: 1.125em;
  margin: 6px 8px;
  transition: all 0.2s ease-in-out;
}

.order-button:not([aira-disabled="true"]):hover {
  color: #a0db41;
}

.order-button:not([aira-disabled="true"]):active {
  transform: scale(0.95);
}

.order-button[aira-disabled="true"] {
  color: #888888;
  border-color: #ccc;
  box-shadow: 0 0.375em 0.875em -10px #00000022;
}

/* @media only screen and (max-width: 768px) {} */
