.burger-wrapper {
  margin-inline: auto;
  width: calc(100% - (var(--spacing) * 2));
  aspect-ratio: 4 / 3;
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1px;
}

.burger-wrapper p {
  font-size: 1.25em;
  font-weight: 200;
}

@media only screen and (min-width: 768px) {
  .burger-wrapper {
    max-width: 425px;
  }

  .burger-wrapper p {
    font-size: 1.625em;
  }
}
