.build-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.build-control button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 96px;
  border: 1px solid #aa6817;
  outline: none;
}
.build-control button:hover {
  cursor: pointer;
}

.build-control button:disabled {
  background-color: #ac9980;
  border: 1px solid #7e7365;
  color: #ccc;
  cursor: default;
}

.build-control button:hover:disabled {
  background-color: #ac9980;
  color: #ccc;
  cursor: not-allowed;
}

.label {
  padding: 10px;
  font-weight: bold;
  min-width: 80px;
}

.build-control .remove {
  background-color: #d39952;
  color: white;
}

.build-control .add {
  background-color: #8f5e1e;
  color: white;
}

.build-control .remove:hover,
.build-control .remove:active {
  background-color: #daa972;
  color: white;
}

.build-control .add:hover,
.build-control .add:active {
  background-color: #99703f;
  color: white;
}
