.bread-bottom {
  height: 13%;
  width: 80%;
  background-image: linear-gradient(#bc581e, #e27b36);
  border-radius: 0 0 48px 48px;
  box-shadow: inset -15px 0 #c15711;
  margin: 0.8% auto;
}

.bread-top {
  height: 20%;
  width: 80%;
  background-color: transparent;
  margin: calc(0.8% + 1px) auto;
  position: relative;
  overflow: hidden;
}

.bread-top::before {
  content: "";
  position: absolute;
  height: 200%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 100%;
  background-image: linear-gradient(#bc581e, #e27b36);
  box-shadow: inset -15px 0 #c15711;
}

.seeds1 {
  width: 8%;
  height: 12%;
  position: absolute;
  background-color: #e0ba80;
  left: 15%;
  top: 40%;
  border-radius: 40%;
  transform: rotate(-20deg);
  box-shadow: inset -2px -3px #cabc83;
}

.seeds1::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #e0ba80;
  left: -125%;
  top: -50%;
  border-radius: 40%;
  transform: rotate(60deg);
  box-shadow: inset -1px 2px #cabc83;
}

.seeds1::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #e0ba80;
  left: 125%;
  top: 0%;
  border-radius: 40%;
  transform: rotate(60deg);
  box-shadow: inset -1px -3px #cabc83;
}

.seeds2 {
  width: 8%;
  height: 12%;
  position: absolute;
  background-color: #e0ba80;
  left: 35%;
  top: 45%;
  border-radius: 40%;
  transform: rotate(-25deg);
  box-shadow: inset -3px 0 #cabc83;
}

.seeds2::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #e0ba80;
  left: 45%;
  top: -180%;
  border-radius: 40%;
  transform: rotate(215deg);
  box-shadow: inset 1px 3px #cabc83;
}

.seeds2::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #e0ba80;
  left: 150%;
  top: 200%;
  border-radius: 40%;
  transform: rotate(240deg);
  box-shadow: inset 1px 3px #cabc83;
}

.seeds3 {
  width: 8%;
  height: 12%;
  position: absolute;
  background-color: #e0ba80;
  left: 60%;
  top: 15%;
  border-radius: 40%;
  transform: rotate(-20deg);
  box-shadow: inset -2px -3px #cabc83;
}

.seeds3::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #e0ba80;
  left: -100%;
  top: -125%;
  border-radius: 40%;
  transform: rotate(75deg);
  box-shadow: inset -1px 2px #cabc83;
}

.seeds3::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #e0ba80;
  left: 50%;
  top: 300%;
  border-radius: 40%;
  transform: rotate(-15deg);
  box-shadow: inset -1px -3px #cabc83;
}

.seeds4 {
  width: 8%;
  height: 12%;
  position: absolute;
  background-color: #e0ba80;
  left: 75%;
  top: 20%;
  border-radius: 40%;
  transform: rotate(-140deg);
  box-shadow: inset -3px 0 #cabc83;
}

.seeds4::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #e0ba80;
  left: -115%;
  top: 0;
  border-radius: 40%;
  transform: rotate(120deg);
  box-shadow: inset 1px 3px #cabc83;
}

.seeds4::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #e0ba80;
  left: -200%;
  top: 60%;
  border-radius: 40%;
  transform: rotate(90deg);
  box-shadow: inset 1px 3px #cabc83;
}

.patty {
  width: 80%;
  height: 8%;
  background: linear-gradient(#7f3608, #702e05);
  margin: 0.8% auto;
  border-radius: 15px;
}

.tomato {
  width: 75%;
  height: 4%;
  background: linear-gradient(to right, #ff6347, #e44226);
  margin: 0.8% auto;
  border-radius: 5px;
}

.cheese {
  width: 87.5%;
  height: 1%;
  margin: 0.8% auto;
  background: linear-gradient(#f4d004, #d6bb22);
  border-radius: 2px;
}

.pickles {
  width: 35%;
  height: 3%;
  margin: 0.8% auto;
  background-image: linear-gradient(to top right, #556e3c, #284400);
  box-shadow: inset 2px 1px #303622;
  border-radius: 3px;
  position: relative;
  transform: rotate(-2.5deg);
}

.pickles::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -70%;
  top: 0;
  transform: rotate(3.5deg) translateY(-4px);
  background-image: linear-gradient(to top right, #556e3c, #284400);
  box-shadow: inset 2px 1px #303622;
  border-radius: 2px;
}

.pickles::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 70%;
  top: 0;
  transform: rotate(3.5deg) translateY(4px);
  background-image: linear-gradient(to top right, #556e3c, #284400);
  box-shadow: inset 2px 1px #303622;
  border-radius: 2px;
}

.onion-rings {
  width: 85%;
  height: 1.75%;
  margin: 0.8% auto;
  background: linear-gradient(to left, #a05c92, #c599bc, #e8d8e5);
  border-radius: 2px;
}

.lettuce {
  width: 85%;
  height: 1.5%;
  margin: 0.8% auto;
  background: linear-gradient(#228c1d, #91ce50);
  border-radius: 20px;
}

.bacon {
  width: 82.5%;
  height: 3%;
  background: linear-gradient(#bf3813, #c45e38);
  margin: 0.8% auto;
}
