.toolbar {
  height: 80px;
  position: fixed;
  inset: 0 0 auto 0;
  background-color: var(--header-color);
  color: #181818;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  z-index: 77;
}

.logo {
  max-width: 48px;
}

@media only screen and (max-width: 625px) {
  .desktop-only {
    display: none;
  }

  .toolbar {
    background-color: #f57328;
  }

  .logo > * {
    background-color: var(--header-color);
  }
}
