.toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--header-color);
  color: var(--default-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 90;
}

.toolbar nav {
  height: 100%;
}

.logo {
  height: 90%;
}

@media only screen and (max-width: 499px) {
  .desktop-only {
    display: none;
  }

  .toolbar {
    background-color: #f57328;
  }
  .logo > * {
    background-color: var(--header-color);
  }
}
