.drawer-toggle-wrapper {
  width: 48px;
  height: 100%;
  display: grid;
  place-items: center;
}

.drawer-toggle {
  width: 66.66%;
  height: 2px;
  position: relative;
  background-color: var(--default-bg-color);
}

.drawer-toggle::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 8px;
  left: 0;
  background-color: inherit;
}

.drawer-toggle::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 8px;
  left: 0;
  background-color: inherit;
}

.drawer-toggle-wrapper.open {
  position: absolute;
  top: 1rem;
  right: 1rem;
  transform: rotate(270deg);
  transition: 0.5s ease;
}

.drawer-toggle.open {
  transform: rotate(45deg);
  background-color: #f57328;
  transition: all 0.3s ease-in-out;
}

.drawer-toggle.open::before {
  display: none;
}

.drawer-toggle.open::after {
  top: 0;
  transform: rotate(-90deg);
  background-color: inherit;
}

@media only screen and (min-width: 600px) {
  .drawer-toggle-wrapper {
    display: none;
  }
}
