.a {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	gap: 2rem;
	position: fixed;
	width: 100%;
	max-width: 320px;
	inset: 0 0 0 auto;
	z-index: 99;
	color: #fffb;
	background-color: #f57328;
	padding: 1rem 1.5rem;
}

.b {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	max-width: 48px;
}

@media (min-width: 800px) {
	.side-drawer {
		display: none;
	}
}
