.navigation-item {
  width: 100%;
  margin: 12px 0;
}

.navigation-item a {
  display: block;
  color: var(--default-bg-color);
  text-decoration: none;
  width: 100%;
}

.navigation-item a:hover,
.navigation-item a:active,
.navigation-item a.active {
  color: dodgerblue;
}

@media only screen and (min-width: 500px) {
  .navigation-item {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
  }

  .navigation-item a {
    color: inherit;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 2px solid transparent;
  }

  .navigation-item a:hover,
  .navigation-item a:active,
  .navigation-item a.active {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-color: dodgerblue;
    color: var(--default-text-color);
  }
}
