.navigation-item a {
  color: #181818;
  text-decoration: none;
  padding: 10px 14px;
  border: 2px solid #00000000;
}

.navigation-item a:hover,
.navigation-item a:active,
.navigation-item a.active {
  color: dodgerblue;
}

@media only screen and (min-width: 625px) {
  .navigation-item a:hover,
  .navigation-item a:active,
  .navigation-item a.active {
    background-color: #00000033;
    border-bottom-color: dodgerblue;
    color: #181818;
  }
}
