.side-drawer {
  position: fixed;
  max-width: 320px;
  inset: 0;
  z-index: 99;
  background-color: var(--header-color);
  padding: 1rem;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease;
}

.hidden {
  opacity: 0;
  transform: translateX(-100%);
}

.top-section {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.logo {
  max-width: 48px;
}

@media only screen and (min-width: 625px) {
  .side-drawer {
    display: none;
  }
}
