.button {
  background-color: unset;
  border: 0;
  outline: 1px solid transparent;
  cursor: pointer;
  padding: 8px 12px;
  margin: 12px;
  font-weight: 700;
  transition: transform 0.125s ease-in-out;
}

.button:active {
  transform: translateY(1px);
}

.success {
  color: #5c9210;
}

.danger {
  color: #944317;
}
