.button {
  --disabled: #0006;
  position: relative;
  isolation: isolate;
  color: #0000;
  color: var(--variant);
  background-color: unset;
  border: unset;
  border-radius: 10px;
  overflow: hidden;
  outline: unset;
  padding: 8px 12px;
  font-weight: 400;
  box-shadow: 0 10px 24px -4px #0001;
  transition:
    transform 0.125s ease-in-out,
    color 0.125s ease-in-out;
}

.indicator {
  all: unset;
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.5;
  background-color: #fff;
  border: 2px solid #0000;
  border-radius: inherit;
  transition:
    border-color 0.125s ease-in-out,
    background-color 0.125s ease-in-out,
    opacity 0.125s ease-in-out;
}

.button[aria-disabled="true"] {
  color: var(--disabled);
}

.button:focus {
  border-color: var(--variant);
}

.button:focus .indicator {
  background-color: var(--variant);
  opacity: 0.2;
}

@media only screen and (min-width: 768px) {
  .button:not([aria-disabled="true"]):hover {
    transform: translateY(-1px);
  }

  .button:not([aria-disabled="true"]):hover .indicator {
    border-color: var(--variant);
  }
}

.button:not([aria-disabled="true"]):active {
  transform: translateY(1px);
}

.button.red {
  --variant: #f44336;
}

.button.pink {
  --variant: #e91e63;
}

.button.purple {
  --variant: #9c27b0;
}

.button.deep-purple {
  --variant: #673ab7;
}

.button.indigo {
  --variant: #3f51b5;
}

.button.blue {
  --variant: #2196f3;
}

.button.light-blue {
  --variant: #03a9f4;
}

.button.cyan {
  --variant: #00bcd4;
}

.button.teal {
  --variant: #009688;
}

.button.green {
  --variant: #4caf50;
}

.button.light-green {
  --variant: #8bc34a;
}

.button.lime {
  --variant: #cddc39;
}

.button.orange {
  --variant: #ffeb3b;
}

.button.amber {
  --variant: #ffc107;
}

.button.yellow {
  --variant: #ff9800;
}

.button.deep-orange {
  --variant: #ff5722;
}

.button.brown,
.button.brown {
  --variant: #795548;
}

.button.grey {
  --variant: #9e9e9e;
}

.button.blue-grey {
  --variant: #607d8b;
}
