.wrapper {
  width: calc(100% - (1.25em * 2));
  margin: auto;
  text-align: center;
  padding: 1.375em 1.125em;
  border-radius: 0.625em;
  box-shadow: 0 16px 24px -10px #00000022;
  position: relative;
  overflow: hidden;
}

.wrapper h1 {
  font-weight: 200;
  font-size: 1.3em;
  margin-block-end: 2em;
  text-decoration: underline solid currentColor 1px;
}

.contact-details-wrapper {
  border: unset;
  display: flex;
}

.contact-details-wrapper label {
  width: 50%;
}

.cta-wrapper {
  margin-block-start: 0.75em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.cta-wrapper button {
  margin: unset;
}

.loader-wrapper {
  all: unset;
  position: absolute;
  inset: 0;
  background-color: #ffffffbb;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    max-width: 425px;
  }
}
