.wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.125em;
  line-height: 1;
  margin-block-end: 0.75em;
  position: relative;
  isolation: isolate;
}

fieldset.radio-fieldset {
  border: unset;
  display: flex;
  flex-flow: row wrap;
  gap: 0.625em;
  font-size: 0.875em;
}

fieldset.radio-fieldset .radio {
  position: relative;
  overflow: hidden;
  isolation: isolate;
  border-radius: 8px;
  border: 1px solid #0003;
  overflow: hidden;
  padding: 0.375em 0.4em 0.3375em;
}

fieldset.radio-fieldset .radio input[type="radio"] {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0;
}

fieldset.radio-fieldset .radio .radio-option-label {
  display: inline-block;
  line-height: 0.875;
}

fieldset.radio-fieldset .radio i.radio-option-indicator {
  position: absolute;
  inset: 0;
  z-index: -1;
}

fieldset.radio-fieldset
  .radio
  input[type="radio"]:checked
  ~ .radio-option-indicator {
  background-color: #0001;
}

input.element[type="text"],
input.element[type="email"],
input.element[type="password"],
select.element {
  display: inline-block;
  color: inherit;
  width: 100%;
  background-color: unset;
  border: unset;
  outline: unset;
  padding: 0.6em 0.4em;
}

input.element[type="text"]::placeholder,
input.element[type="email"]::placeholder,
input.element[type="password"]::placeholder {
  color: #0000;
}

input.element[type="text"] ~ .placeholder,
input.element[type="email"] ~ .placeholder,
input.element[type="password"] ~ .placeholder {
  color: #0006;
  white-space: nowrap;
  position: absolute;
  z-index: -1;
  transform: translate(0.4em, 0) scale(1);
  transition: all 0.15s ease-in-out;
}

input.element.focused[type="text"] ~ .placeholder,
input.element.focused[type="email"] ~ .placeholder,
input.element.focused[type="password"] ~ .placeholder {
  color: #000b;
  transform: translate(-12%, -130%) scale(0.75);
}

input.element[type="text"] ~ .indicator,
input.element[type="email"] ~ .indicator,
input.element[type="password"] ~ .indicator,
select.element ~ .indicator {
  all: unset;
  position: absolute;
  z-index: -1;
  inset: 0;
  border-bottom: 2px solid #0002;
  outline: 2px solid #0000;
  outline-offset: 2px;
}

input.element[type="text"] ~ .indicator::before,
input.element[type="email"] ~ .indicator::before,
input.element[type="password"] ~ .indicator::before,
select.element ~ .indicator::before {
  content: "";
  position: absolute;
  inset: 100% 0 -2px;
  background-color: currentColor;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

input.element.focused[type="text"] ~ .indicator::before,
input.element.focused[type="email"] ~ .indicator::before,
input.element.focused[type="password"] ~ .indicator::before,
select.element.focused ~ .indicator::before {
  transform: scaleX(1);
}
