.navigation-item:not(:first-child) {
  margin-left: 2px;
}

.navigation-item a {
  color: #181818;
  text-decoration: none;
  padding: 10px 14px;
  border-bottom: 2px solid #00000000;
  transition:
    transform 0.25s ease-in-out,
    background-color 0.125s ease-in-out;
}

.navigation-item a:not(.active):hover {
  background-color: #00000022;
}

.navigation-item a:not(.active):active {
  transform: scale(0.9);
}

.navigation-item a.active {
  color: dodgerblue;
  background-color: #00000011;
  border-color: currentColor;
}
