:root {
  --header-color: #eef1ff;
  line-height: 1.5;
  color-scheme: light dark;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #ffffffdf;
  background-color: #242424;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  max-width: 1280px;
  margin-inline: auto;
  height: 100vh;
  min-height: 768px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  padding: 1rem;
  isolation: isolate;
}
