@import url("https://fonts.googleapis.com/css2?family=REM:wght@200;400;700&display=swap");

:root {
  --header-color: #eef1ff;
  line-height: 1.5;
  font-family: "REM", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #181818;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
  min-width: 320px;
  max-width: 1280px;
  margin-inline: auto;
  height: 100vh;
  min-height: 768px;
}
