.checkout-summary {
  text-align: center;
  width: calc(100% - (1.25em * 2));
  margin: auto;
}

.checkout-summary h1 {
  font-size: 2em;
  margin-block-end: 1.125em;
}

@media only screen and (min-width: 768px) {
  .checkout-summary {
    max-width: 625px;
  }
}
