.checkout-summary {
  text-align: center;
  width: calc(100% - (1.25em * 2));
  margin: auto;
}

.checkout-summary h1 {
  font-size: 2em;
}

.cta-wrapper {
  border: unset;
  margin: 0.875em 0 0.375em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.75em;
}

@media only screen and (min-width: 768px) {
  .checkout-summary {
    max-width: 625px;
  }
}
